/* Create two columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

.word{
  padding:20px;
}
.topics{
  padding:10px;
}
.name{
  padding-left:20px;
}
.name, .topics, .word{
  font-family: "Poppins";
}
/* Middle column */
.column.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/* user rating */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0 auto; /* Center website */
   /* Max width */
  padding: 20px;
}

.heading {
  font-size: 25px;
  font-family: "Poppins";
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4BC289;}
.bar-4 {width: 30%; height: 18px; background-color: #4BC289;}
.bar-3 {width: 10%; height: 18px; background-color: #4BC289;}
.bar-2 {width: 4%; height: 18px; background-color: #4BC289;}
.bar-1 {width: 15%; height: 18px; background-color: #4BC289;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
.button {
          border: none;
          outline: 0;
          display: inline-block;
          font-family: "Poppins";
          padding: 8px;
          color: white;
          background-color: #4BC289;
          opacity:0.9;
          text-align:center;
          cursor: pointer;
          width: 45%;
          font-size: 18px;
          border-radius: 10px;
          left: 50%;
        }
        .button:hover {
        opacity: 0.8;
        }
        a {
          text-decoration: none;
          color:white;
        }